<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="82492685-2a71-46d2-a49a-4be605e30121"
            Publisher="CN=Asa Carrington"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>MetroMonitor.DesktopInterface</DisplayName>
    <PublisherDisplayName>Asa Carrington</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="MetroMonitor.DesktopInterface.App">
        <VisualElements
            DisplayName="MetroMonitor.DesktopInterface"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="MetroMonitor.DesktopInterface"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>